@font-face {
    font-family: 'Stapel';
    src: url('./fonts/Stapel_Bold.otf') format('opentype');
    font-weight: bold;
}

body {
    font-family: 'Stapel', serif;
    font-weight: bold;
}

input {
    display: block;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 70px;
}
